@import '../../assets/scss/variables';

.apply-to-job {
  .apply {
    .container {
      display: flex;
      flex-direction: column;
    }

    .actions {
      width: 100%;
      max-width: 350px;
    }

    .apply-content {
      width: 100%;
      max-width: 700px;

      padding: 4rem 1.6rem;
      
      .job-info {
        width: 100%;
        text-align: center;
      
        .employeer-avatar {
          width: 30%;
          margin: 0 auto;
          text-align: center;
        
          img {
            width: 100%;
            max-width: 110px;
          
            border: 1px solid $gray-light;
            border-radius: 1.1rem;
          }
        }
      
        .title-employeer {
          margin-top: 10px;
      
          h5 {
            display: block;
      
            font-size: 1.8rem;
          }
      
          .employeer {
            display: block;
      
            font-size: 1.6rem;
          }
      
          .location {
            display: block;
      
            color: $gray;
      
            font-size: 1.3rem;
          }
        }
      }

      .apply-box {
        margin-top: 20px;
        text-align: center;

        h2 {
          margin-bottom: 20px;
          font-size: 1.6rem;
        }

        form {
          .button-section {
            max-width: 400px;

            padding-top: 20px;
            margin: 0 auto;
            margin-top: 20px;

            border-top: 1px solid $gray-light;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .apply-to-job {
    .apply {
      .container {
        flex-direction: row;
      }

      .actions {
        width: 350px;
      }
    }
  }
}

.apply-modal {
  .swal-title {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .swal-text {
    text-align: center;
    font-size: 1.3rem;
  }

  .swal-footer {
    text-align: center;

    button {
      background: $primary-color;
      border-radius: 30px;
    }
  }
}
