@import '../../assets/scss/variables';

.basic-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  margin-bottom: 30px;

  .avatar {
    position: relative;

    width: 100%;
    max-width: 50px;

    img {
      width: 100%;

      border: 1px solid $gray;
      border-radius: 1.1rem;
    }
  }
  
  .infos {
    position: relative;

    max-width: 700px;
    
    padding: 1rem;
    padding-top: 0;

    list-style: none;

    .name {
      h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
    }

    .occupation-area,
    .location,
    .bio {
      display: flex;
      align-items: flex-start;

      margin-bottom: 5px;
    }

    .occupation-area svg,
    .location svg,
    .bio svg {
      margin-right: 10px;
      color: $gray;
    }

    .occupation-area span,
    .location span,
    .bio span {
      width: calc(100% - 15px);
      font-size: 1.3rem;
    }

    .bio {
      margin-bottom: 0;
    }
  }

  .edit-button {
    position: absolute;
    top: 0;
    right: 3px;

    padding: 1px;

    color: $primary-color;

    cursor: pointer;
  }
}

@media (min-width: 700px) {
  .basic-info {
    .avatar {
      max-width: 100px;
    }
  }
}
