@import '../../assets/scss/variables';

.add-job {
  .actions {
    margin-bottom: 10px;
  }

  .add-job-content {
    width: 100%;
    max-width: 700px;

    margin-top: 30px;

    form {
      margin-top: 30px;

      .input-columns {
        display: flex;

        .input-group,
        .select-group {
          &:first-of-type {
            margin-right: 5px;
          }

          &:last-of-type {
            margin-left: 5px;
          }
        }
      }

      .description {
        margin-bottom: 20px;

        >label {
          display: block;
          margin-bottom: 10px;
          font-weight: 700;
        }

        .ck .ck-content {
          min-height: 300px;
        }
      }
    }

    .global-error {
      margin: 10px auto;
      text-align: center;
      color: #db183f;
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 727px) {
  .add-job {
    .container {
      display: flex;
    
      .actions {
        width: 100%;
        max-width: 250px;
      }

      .add-job-content {
        margin-top: 0px;
      }
    }
  }
}

.job-created-modal {
  .swal-title {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .swal-text {
    text-align: center;
    font-size: 1.3rem;
  }

  .swal-footer {
    text-align: center;

    button {
      background: $primary-color;
      border-radius: 30px;
    }
  }
}
