@import '../../assets/scss/variables';

.button {
  display: inline-block;

  padding: 1.2rem 2rem;

  box-shadow: 5px 3px 25px #cdcdcd;

  font-weight: 300;
  text-decoration: none;
  text-align: center;

  border: none;
  border-radius: 17px;
  outline: none;

  transition: ease 0.3s;
  cursor: pointer;
}

.button-primary {
  background: $primary-color;
  color: #fff;

  &:hover {
    background: $primary-color-dark;
  }
}

.button-dark {
  background: #222;
  color: #fff;

  &:hover {
    background: rgba(34, 34, 34, 0.521);
  }
}

.button-block {
  width: 100%;

  display: block;
}
