@import '../../assets/scss/variables';

.job-details {
  display: none;

  animation: job-details 300ms;

  .details {
    width: 100%;
    max-width: 449px;

    padding: 2.4rem;

    background: #fff;

    border: 1px solid $gray-light;
    border-radius: 17px;
    box-shadow: 3px 3px 15px hsla(0, 0%, 80%, 0.274);

    .top {
      display: flex;
      align-items: center;
    
      margin-bottom: 20px;
      padding-bottom: 20px;
    
      border-bottom: 1px solid $gray-light;

      .employeer-avatar {
        width: 30%;
        text-align: center;

        img {
          width: 100%;
          max-width: 110px;
        
          border: 1px solid $gray-light;
          border-radius: 17px;
        }
      }

      .title-employeer {
        width: 70%;

        margin-left: 10px;
        text-align: left;

        h5 {
          font-size: 1.6rem;
          margin-bottom: 5px;
        }

        >span {
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin-top: 3px;

          a {
            width: 70%;

            color: $gray;

            font-size: 1.4rem;
  
            &:hover {
              color: $primary-color;
            }
          }

          span {
            width: 30%;

            color: $gray;

            font-size: 1.1rem;
          }
        }
      }
    }

    .description p,
    .location span,
    .salary span {
      color: $gray;

      font-size: 1.4rem;
    }

    .description {
      height: 100%;
      max-height: 210px;  
      margin-bottom: 20px;
    }

    .location,
    .salary {
      display: inline-block;

      width: 49%;

      text-align: center;
      vertical-align: middle;

      >span {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 15px;
          margin-right: 3px;
          vertical-align: middle;
        }
      }
    }

    .apply {
      width: 100%;
      
      padding-top: 20px;
      margin-top: 20px;
    
      border-top: 1px solid $gray-light;

      .button:first-of-type {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .job-details {
    &.active {
      display: block;
      animation: none;
    }

    &::before {
      content: '';

      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100vh;

      background: rgba($color: #000000, $alpha: 0.6);

      z-index: 10;
    }
    
    .details  {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
  
      width: 100%;
      max-width: 449px;
  
      margin: 0 auto;
      padding: 1.6rem;
      
      background: #fff;

      z-index: 30;
    }
  }
}

@media (min-width: 1200px) {
  .job-details {
    position: fixed;
    right: 1;
    bottom: 0;

    &.active {
      display: inline-block;
    }

    .details {
      max-height: 100vh;

      margin-left: 10px;
      overflow-y: auto;

      .description {
        overflow: auto;
      }

      .apply {
        .button-dark:last-of-type {
          display: none;
        }
      }
    }
  }
}

@keyframes job-details {
  from {
    opacity: 0;
    transform: scale(0)
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

