@import '../../assets/scss/variables';

.edit-profile {
  .edit-profile-content {
    .actions {
      margin-bottom: 10px;
    }

    h1 {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    >div {
      width: 100%;
      max-width: 700px;
    }
  }
}

@media (min-width: 727px) {
  .edit-profile {
    .edit-profile-content {
      display: flex;
    
      .actions {
        width: 100%;
        max-width: 250px;
      }

      h1 {
        margin-top: 0px;
        margin-bottom: 30px;
      }
    }
  }
}

.profile-modal {
  .swal-title {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .swal-text {
    text-align: center;
    font-size: 1.3rem;
  }

  .swal-footer {
    text-align: center;

    button {
      border-radius: 30px;

      &.confirm-button {
        background: $primary-color;

        &:hover {
          background: $primary-color-dark;
        }
      }
    }
  }
}
