@import '../../assets/scss/variables';

.user-profile {
  .actions {
    margin-bottom: 10px;
  }

  .user-profile-content {
    width: 100%;
    max-width: 700px;
  }
}

@media (min-width: 727px) {
  .user-profile {
    .container {
      display: flex;
    
      .actions {
        width: 100%;
        max-width: 250px;
      }
    }
  }
}
