@import '../../assets/scss/variables';

.user-profile {
  .jobs-applied {
    h2 {
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

@media (min-width: 1200px) {
  .user-profile {
    .jobs-applied {
      h2 {
        text-align: left;
      }
    }
  }
}
