@import '../../assets/scss/variables';

.file-group {
  input[type='file'] {
    display: none;
  }

  label {
    display: inline-block;

    padding: 1rem 2rem;

    background: #fff;
    color: $primary-color;

    font-size: 1.3rem;
    font-weight: 700;

    border: 2px solid $primary-color;
    border-radius: 30px;

    cursor: pointer;
    transition: all ease .3s;

    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }

  .file-name {
    display: block;

    margin-top: 10px;

    color: $gray;

    font-size: 1.1rem;
  }
}