@import '../../assets/scss/variables';

.input-group {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-bottom: 20px;

  label {
    display: block;

    color: $text-color;
    
    font-weight: 700;
  }

  input {
    width: 100%;
    height: 40px;
    max-height: 40px;
  
    padding: 1rem 1.3rem;
    margin-top: 5px;
  
    font-size: 1.3rem;
  
    border-radius: 17px;
    border: 1px solid $gray;
    outline: none;
    transition: ease 0.3s;
  
    &:focus {
      border-color: $primary-color-dark;
    }

    &.error {
      border-color: #db183f;
    }
  }

  .error-message {
    margin-top: 10px;
    color: #db183f;
    font-size: 1.3rem;
  }
}
