@import '../../assets/scss/variables';

.job-item {
  display: flex;

  width: 100%;
  max-width: 700px;

  padding: 1.1rem;
  margin: 0 auto;
  margin-bottom: 20px;

  background: #fff;

  border: 1px solid $gray-light;
  border-radius: 1.1rem;

  box-shadow: 2px 2px 5px hsla(0, 0%, 80%, 0.1);
  cursor: pointer;

  .avatar {
    width: 100%;
    max-width: 95px;

    margin-right: 10px;

    img {
      width: 100%;

      border: 1px solid $gray;
      border-radius: 1.1rem;
    }
  }

  .job-content {
    .employer-title {
      .employer {
        color: $text-color;
  
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
      }
  
      .title {
        width: 100%;
  
        color: $text-color;
  
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
  
    .type-location-date {
      display: flex;
      flex-direction: column;
  
      margin-top: 10px;
  
      .type {
        display: inline-block;
  
        padding: .4rem .9rem;
  
        color: $primary-color;
  
        font-size: 1.3rem;
        font-weight: 700;
  
        border: 1px solid $primary-color;
        border-radius: .6rem;;
      }
  
      .location-date {
        display: flex;
        justify-content: space-between;
  
        margin-top: 25px;
  
        color: $gray;
  
        .location,
        .date {
          display: flex;
          align-items: center;
        }
  
        .location span,
        .date span {
          margin-left: 5px;
  
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .job-item {
    .job-content {
      width: 100%;

      .type-location-date {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .location-date {
          margin-top: 0;

          .location span,
          .date span {    
            font-size: 1.3rem;
          }

          .location {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
