@import '../../assets/scss/variables';

.job-item {
  display: flex;

  width: 100%;
  max-width: 700px;

  padding: 1.1rem;
  margin-bottom: 20px;

  background: #fff;

  border: 1px solid $gray-light;
  border-radius: 1.1rem;

  box-shadow: 2px 2px 5px hsla(0, 0%, 80%, 0.1);
  cursor: pointer;

  .avatar {
    width: 100%;
    max-width: 95px;

    margin-right: 10px;

    img {
      width: 100%;

      border: 1px solid $gray;
      border-radius: 1.1rem;
    }
  }

  .job-content {
    .employeer-title {
      .employeer {
        color: $text-color;
  
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
      }
  
      .title {
        width: 100%;
  
        color: $text-color;
  
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
  
    .type-location-date {
      display: flex;
      flex-direction: column;
  
      margin-top: 10px;
  
      .type {
        display: inline-block;
  
        padding: .4rem .9rem;
  
        color: $primary-color;
  
        font-size: 1.3rem;
        font-weight: 700;
  
        border: 1px solid $primary-color;
        border-radius: .6rem;;
      }
  
      .location-date {
        display: flex;
        justify-content: space-between;
  
        margin-top: 25px;
  
        color: $gray;
  
        .location,
        .date {
          display: flex;
          align-items: center;
        }
  
        .location span,
        .date span {
          margin-left: 5px;
  
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .job-item {
    .job-content {
      width: 100%;

      .type-location-date {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .location-date {
          margin-top: 0;

          .location span,
          .date span {    
            font-size: 1.3rem;
          }

          .location {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

// .job-item {
//   width: 100%;
//   max-width: 400px;

//   padding: 2rem;
//   margin: 0 auto;
//   margin-bottom: 10px;

//   background: #fff;

//   border: 1px solid $gray-light;
//   border-radius: 17px;

//   box-shadow: 3px 3px 15px hsla(0, 0%, 80%, 0.274);
//   transition: ease 0.3s;
//   cursor: pointer;

//   &:last-of-type {
//     margin-bottom: 0px;
//   }

//   &:hover,
//   &.active {
//     border-color: $primary-color;
//   }

//   .avatar {
//     width: 100%;
//     text-align: center;

//     img {
//       width: 100%;
//       max-width: 80px;
//       max-height: 80px;
    
//       margin-bottom: 8px;
    
//       border: 1px solid $gray-light;
//       border-radius: 17px;
//     }
//   }

//   .title-employeer {
//     padding-bottom: 20px;
//     margin-bottom: 20px;
  
//     text-align: center;
  
//     border-bottom: 1px solid $gray-light;

//     h5 {
//       font-size: 1.6rem;
//     }

//     >span {
//       display: block;

//       margin-top: 5px;

//       a {
//         width: 70%;

//         color: $gray;

//         font-size: 1.4rem;
//         text-decoration: none;
  
//         &:hover {
//           color: $primary-color;
//         }
//       }
      
//       span {
//         width: 30%;
//         color: $gray;
//         font-size: 1.1rem;
//         margin-left: 5px;
//       }
//     }
//   }

//   .location,
//   .salary {
//     display: inline-block;

//     width: 49%;

//     text-align: center;
//     vertical-align: middle;

//     h5 {
//       font-size: 1.4rem;
//     }

//     >span {
//       display: flex;
//       align-items: flex-start;
//       justify-content: center;

//       margin-top: 5px;
  
//       color: $gray;
  
//       font-size: 1.3rem;

//       svg {
//         margin-right: 3px;
//       }
//     }
//   }
// }

// @media (min-width: 700px) {
//   .job-item {
//     display: flex;

//     max-width: 700px;

//     align-items: center;

//     .avatar {
//       width: 10%;

//       img {
//         max-width: 70px;
//         max-height: 70px;
    
//         margin-bottom: 0px;
//       }
//     }

//     .job-content {
//       display: flex;
//       align-items: center;

//       width: 100%;
//     }

//     .title-employeer,
//     .location,
//     .salary {
//       display: flex;
//       flex-direction: column;
      
//       padding-left: 20px;

//       text-align: left;
//     }

//     .title-employeer,
//     .location {
//       width: 40%;
//     }

//     .salary {
//       width: 20%;
//     }

//     .title-employeer {
//       padding: 0;
//       padding-left: 20px;
//       margin: 0;
  
//       text-align: left;
//       border: none;

//       h5 {
//         font-size: 1.4rem;
//       }

//       a {
//         font-size: 1.3rem;
//       }

//       >span {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;

//         span {
//           margin-left: 0px;
//         }
//       }
//     }

//     .location,
//     .salary {
//       >span {
//         justify-content: left;
//       }
//     }
//   }
// }
