@import '../../assets/scss/variables';

.job-item {
  width: 100%;
  max-width: 400px;

  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 10px;

  background: #fff;

  border: 1px solid $gray-light;
  border-radius: 17px;

  box-shadow: 3px 3px 15px hsla(0, 0%, 80%, 0.274);
  transition: ease 0.3s;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0px;
  }

  &:hover,
  &.active {
    border-color: $primary-color;
  }

  .avatar {
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      max-width: 80px;
      max-height: 80px;
    
      margin-bottom: 8px;
    
      border: 1px solid $gray-light;
      border-radius: 17px;
    }
  }

  .title-employeer {
    padding-bottom: 20px;
    margin-bottom: 20px;
  
    text-align: center;
  
    border-bottom: 1px solid $gray-light;

    h5 {
      font-size: 1.6rem;
    }

    >span {
      display: block;

      margin-top: 5px;

      a {
        width: 70%;

        color: $gray;

        font-size: 1.4rem;
        text-decoration: none;
  
        &:hover {
          color: $primary-color;
        }
      }
      
      span {
        width: 30%;
        color: $gray;
        font-size: 1.1rem;
        margin-left: 5px;
      }
    }
  }

  .location,
  .salary {
    display: inline-block;

    width: 49%;

    text-align: center;
    vertical-align: middle;

    h5 {
      font-size: 1.4rem;
    }

    >span {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      margin-top: 5px;
  
      color: $gray;
  
      font-size: 1.3rem;

      svg {
        margin-right: 3px;
      }
    }
  }
}

@media (min-width: 700px) {
  .job-item {
    display: flex;

    max-width: 700px;

    align-items: center;

    .avatar {
      width: 10%;

      img {
        max-width: 70px;
        max-height: 70px;
    
        margin-bottom: 0px;
      }
    }

    .job-content {
      display: flex;
      align-items: center;

      width: 100%;
    }

    .title-employeer,
    .location,
    .salary {
      display: flex;
      flex-direction: column;
      
      padding-left: 20px;

      text-align: left;
    }

    .title-employeer,
    .location {
      width: 40%;
    }

    .salary {
      width: 20%;
    }

    .title-employeer {
      padding: 0;
      padding-left: 20px;
      margin: 0;
  
      text-align: left;
      border: none;

      h5 {
        font-size: 1.4rem;
      }

      a {
        font-size: 1.3rem;
      }

      >span {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          margin-left: 0px;
        }
      }
    }

    .location,
    .salary {
      >span {
        justify-content: left;
      }
    }
  }
}
