@import '../../assets/scss/variables';

.back-button {
  display: flex;
  align-items: center;

  background: transparent;
  color: $primary-color;

  border: none;
  outline: none;

  cursor: pointer;
  
  svg {
    margin-right: 10px;
    transform: rotate(180deg)
  }
}
