@import '../../assets/scss/variables';

.forgot-password {
  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .dont-have-account {
    margin-top: 40px;
  
    color: $text-color;
    text-align: center;
  
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}
