@import '../../assets/scss/variables';

.header {
  width: 100%;

  border: 1px solid $gray-light;

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.6rem;

    .logo img {
      width: 100%;
      max-width: 130px;
    }

    .login-button {
      padding: 0.5rem 1rem;
    
      color: $primary-color;
    
      text-decoration: none;
      font-weight: 700;
    
      border: 1px solid $primary-color;
      border-radius: 8px;
      transition: ease 0.3s;

      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }

    .menu {
      display: none;

      li {
        display: inline-block;
        vertical-align: middle;

        a {
          padding: 0.5rem 1rem;
        
          color: $text-color;
          text-decoration: none;

          &:hover {
            border-bottom: 2px solid $primary-color-dark;
          }
        }

        &.separator {
          width: 2px;
          height: 2.6rem;
        
          margin: 0 10px;
        
          background: var(--gray-light);
        }
      }
    }

    .user {
      display: flex;
      align-items: center;

      img {
        width: 100%;
        max-width: 36px;
        height: 36px;

        margin-right: 5px;

        background: $gray;

        border: 1px solid $gray;
        border-radius: 1.2rem;
      }

      .dropdown-content {
        right: 0;
      }
    }
  }
}

@media (min-width: 700px) {
  .header {
    .navbar {
      .menu {
        display: block;
      }

      .login-button {
        display: none;
      }
    }
  }
}
